<div id='map' class='dark'></div>
<script type='text/javascript'>
  var map = L.mapbox.map('map', "pyoung123.j4phf8n8").setView([
  41.3
  -72.9
], 10)
</script>
<!-- 

<h3>Home</h3>
<p>Welcome to the home of <%= @owner.name %>.</p>
<p>I was bord on <%= @owner.birthdate %>.</p>
<p>Only <%= @owner.countdown %> days until my birthday!</p>

<form action="#" method="#">
  <button type="button">CLICK ME</button>
</form> -->


<!-- <% content_for :sidebar do %>
<h3>Contact Info</h3>
<p>Email: me@example.com</p>
<% end %>
<h3>Main</h3>
<p>Welcome!</p> -->