<h3>Home</h3>
<p>Welcome to the home of <%= @owner.name %>.</p>
<p>I was bord on <%= @owner.birthdate %>.</p>
<p>Only <%= @owner.countdown %> days until my birthday!</p>

<!-- <% content_for :sidebar do %>
<h3>Contact Info</h3>
<p>Email: me@example.com</p>
<% end %>
<h3>Main</h3>
<p>Welcome!</p> -->